<h1>Create Ticket</h1>

<div class="well">
	<form method="post">
		<label>Your name</label>
		<input type="text" name="name" autofocus>
		<br>
		<button type="submit" class="btn btn-primary">Create ticket</button>
	</form>
</div>
