<h2>View Tickets</h2>

<div class="well">
	<% if @tickets.length == 0 %>
		No tickets filed.
	<% else %>
		<ol>
			<% @tickets.each do |ticket| %>
				<li><%= ticket %></li>
			<% end %>
		</ol>
		<button class="btn btn-primary" onclick="document.location.reload()">
			<i class="icon-refresh icon-white"></i> Reload
		</button>
	<% end %>
</div>
