<% if ticket.errors.any? %>
	<% ticket.errors.full_messages.each do |msg| %>
		<div class="alert alert-error">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<strong>Error:</strong> <%= msg %>
		</div>
	<% end %>
<% end %>
