<%= simple_form_for ticket, html: { class: 'form-horizontal' } do |f| %>

  <!-- Ticket edit/creation form -->
  <div class="form-inputs">
    <%= f.input :name, input_html: { type: 'text', placeholder: 'Your name', required: true, autofocus: true } %>
    <%= f.input :computer, input_html: { type: 'number', min: 1, max: 21, maxlength: 2, placeholder: '1-21', required: true }, label: 'Computer #' %>
  </div>

  <!-- two buttons for editing/creating the Ticket, depending on its type -->
  <div class="form-actions">

    <button name="ticket[reason]" value="help" type="submit" class="btn btn-warning">
      <i class="icon-question-sign"></i> Create help ticket
    </button>

    <button name="ticket[reason]" value="lab completed" type="submit" class="btn btn-success">
      <i class="icon-ok"></i> Create lab completed ticket
    </button>

  </div>

<% end %>
