<%= form_for(@ticket) do |f| %>

	<%= render 'errors' %>

	<%= render 'success' %>

	<div class="form-horizontal">

		<div class="well">

			<div class="control-group">
				<label class="control-label" for="ticket-name">Name</label>
				<div class="controls">
					<input id="ticket-name" name="ticket[name]" type="text" placeholder="Your name" required autofocus>
				</div>
			</div>

			<div class="control-group">
				<label class="control-label" for="ticket-computer">Computer #</label>
				<div class="controls">
					<input id="ticket-computer" name="ticket[computer]" type="number" min="1" max="21" maxlength="2" placeholder="1-21" required>
				</div>
			</div>

		</div>

	</div>

	<button name="ticket[reason]" value="help" type="submit" class="btn btn-warning">
		<i class="icon-question-sign"></i> Create help ticket
	</button>
	<button name="ticket[reason]" value="lab completed" type="submit" class="btn btn-success">
		<i class="icon-ok"></i> Create lab completed ticket
	</button>

<% end %>
