<% if ticket and ticket.valid? %>
  <div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>

    Your ticket has been filed at <strong><%= ticket.created_at %></strong>
    for <strong><%= ticket.reason %></strong> at computer
    <strong><%= ticket.computer %></strong>
  </div>
<% end %>
