@media (max-width: 480px) {
	body, #main {
		margin: 0px !important;
		padding: 0px;
	}
}

#main {
	max-width: 600px;
	margin: 25px auto;
	margin-bottom: 0px;
}

#new_ticket .btn {
	margin-top: 5px;
}

.not-bold {
	font-weight: normal;
}

#ticket-list tr:nth-child(1) th {
	background-color: #ddd;
}

#ticket-list tr:nth-child(1) th .muted {
	color: #888;
}

.form-horizontal .control-group:last-child {
	margin-bottom: 0px;
}

#ticket-list .btn {
	font-weight: normal;
}

#ticket-name {
	width: 150px;
}

#ticket-computer {
	width: 50px;
}
