#main {
	max-width: 600px;
	margin: 25px auto;
}

.not-bold {
	font-weight: normal;
}

#ticket-list tr:nth-child(2) {
	font-weight: bold;
}

#ticket-list .btn {
	font-weight: normal;
}

#ticket-name {
	width: 150px;
}

#ticket-computer {
	width: 50px;
}
