/* all pages */

#main
	max-width: 600px
	margin: 25px auto
		bottom: 0px

@media (max-width: 480px)
	body, #main
		margin: 0px !important
		padding: 0px

.not-bold
	font-weight: normal

/* new ticket page */

#new_ticket

	#ticket-name
		width: 150px

	#ticket-computer
		width: 50px

	.form-horizontal .control-group:last-child
		margin-bottom: 0px

	.btn
		margin-top: 5px

/* all tickets page */

#ticket-list

	tr:nth-child(1) th
		background-color: #ddd
		.muted
			color: #888

	.btn
		font-weight: normal
